/* ====  RESET ==== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

:root {
  --c-white: #fff;
  --c-gray-lightest: #FBF8F3;
  --c-gray-light: #6B6B6B;
  --c-gray-dark: #211E19;
}

/* ====  BASE ==== */
html, body { 
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: var(--c-gray-light);
}

h2 {
  font-size: 1.4rem;
}

.text-light {
  color: var(--c-gray-light);
}
.text-dark {
  color: var(--c-gray-dark);
}

h2 {
  margin-bottom: 1.5rem;
}

p {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

@media (min-width: 800px) {
  h2 {
    margin-bottom: 2rem;
  }
  
  p {
    font-family: "Libre Baskerville", serif;
    font-size: 2rem;
    line-height: 1.5;
  }
}

/* ====  HERO ==== */
#hero {
  background-image: url("imgs/where_is_nihon.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh;
  color: var(--c-white);
}

.title {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  margin-left: 12px;
}

#logo {
  width: 200px;
}

#line {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 136px;
  background: var(--c-white);
}


@media (min-width: 800px) {
  #logo {
    width: 240px;
  }
}

/* ====  INTRO ==== */
#intro {
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#intro p {
  max-width: 700px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

@media (min-width: 800px) {
  #intro {
  padding-top: 10rem;
  padding-bottom: 10rem;
  }
  #logo {
    width: 240px;
  }
}

/* ====  MOVIES ==== */
#movies {
  background-color: teal; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#movies a {
  transition: all .2s ease;
}
#movies a:hover {
  transform: translateX(5px);
}

#movies a p {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: var(--c-white);
  margin-left: 1px;
}

.movie {
  height: 50vh;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2rem;
}
.movie h2 {
  font-family: 'Six Caps', sans-serif;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: var(--c-white);
  margin-bottom: 0;
}

.movie-content {
  max-width: 700px;
  width: 80%;
}

.movie1 {
  background-image: url("imgs/where_is_nihon-3.jpg");
}

.movie2 {
  background-image: url("imgs/as_origens_2.jpg");
}

.movie3 {
  background-image: url("imgs/where_is_nihon-3.jpg");
}

.movie4 {
  background-image: url("imgs/misericordia_1.jpg");
}

@media (min-width: 800px) {
  .movie {
    height: 100vh;
    padding-bottom: 5rem;
  }
  .movie h2 {
    font-size: 10rem;
  }
  #movies a p {
    margin-left: 3px;
  }
}
/* ==== ABOUT ==== */
#about {
  max-width: 700px;
  width: 80%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (min-width: 800px) {
  #about {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

/*====  LORENA ==== */
#lorena {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: var(--c-gray-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#lorena > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#lorena p {
  color: var(--c-white);
  font-size: 1rem;
  line-height: 1.8;
  max-width: 700px;
  width: 80%;
}
/* #lorena p strong {
  font-size: 1.5rem;
  line-height: 1;
} */

#lorena img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
}

@media (min-width: 800px) {
  #lorena > div {
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
  }
  #lorena img {
    width: 200px;
    height: 200px;
  }
  #lorena p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding-left: 3rem;
  }
  
}
@media (min-width: 1000px) {

  #lorena img {
    width: 300px;
    height: 300px;
  }
  #lorena p {
    font-size: 1.5rem;
    padding-left: 3.6rem;
  }
}


/* ====  CONTATO ==== */

#contato {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--c-gray-lightest);
}

#contato .wrapper {
  max-width: 700px;
  width: 80%;
  margin: 0 auto;
}

#email {
  margin-bottom: 3rem;
}

#contato p {
font-family: 'Inter', sans-serif;
font-size: 1rem;
text-transform: uppercase;
color: var(--c-gray-light);
margin-bottom: 0.25rem;
}

#contato a {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
  color: var(--c-gray-dark);
}

@media (min-width: 800px) {
  #contato {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  #contato p {
    font-size: 1.5rem;
  }
  #contato a {
    font-size: 3rem;
  }
}

/* ====  LOGO ==== */

#footer {
  background-color: var(--c-white); 
  display: flex;
  padding-top:  5rem;
  padding-bottom: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.logo {
  width: 100px;
}
@media (min-width: 800px) {
  .logo {
    width: 140px;
  }
}
